# Ignore All Videos
videos/
Video_GradCam/
video_clips/
Video_Cropped/
video_clips_cropped/

# Ignore Results
diagnostic_save_path/
4fold_diagnostics_img/
4fold_diagnostics_text/
diagnostics_TEST
diagnostics_TRAIN
diagnostics_TRAIN_Cropped
4fold_results_img/
4fold_results_text/

# Ignore old stuff
archived/

# Ignore .pth files, congigs, and logs
checkpoints/TensorBoard
checkpoints/train_all
updated_metrics/
work_dirs/
test_output_dir/
4fold_results_cropped/
*.pth
*.zip